{% extends "main.html" %}
{% block content%}
    <!-- Form start-->
    <div class="container">
      <div class="row">

            <div class="container">
              <div class="row mt-4 text-center">
                <h2>Order Application</h2>
              </div>
            </div>
            <form class="mt-2">
              <div class="mb-3">
                <label for="exampleInputName" class="form-label">Name</label>
                <input type="text" class="form-control" id="exampleInputName" aria-describedby="NameHelp">
              </div>
              
              <div class="mb-3">
                <label for="exampleInputAddress" class="form-label">Address</label>
                <input type="text" class="form-control" id="exampleInputAddress">
              </div>

              <div class="mb-3">
                <label for="exampleInputProduct" class="form-label">Product</label>
                <select class="form-control">
                  <option class="form-control">Bag</option>
                  <option class="form-control">Shoes</option>
                  <option class="form-control">Mobile Phone</option>
                  <option class="form-control">Laptop</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
      </div>
    </div>
 <!-- Form end-->

 {%endblock%}