{% extends "main.html" %}
{% block content%} 
<div class="container">
    <div class="row">
        <div class="text text-center mt-4 ">
            <h2>Order List</h2>
        </div>
        
        <div class="order-list">
            <table class="table mt-4">
                <thead class="thead-dark" >
                  <tr>
                    <th scope="col">Order id</th>
                    <th scope="col">Cutomer Name</th>
                    <th scope="col">Customer Phone</th>
                    <th scope="col">Customer Email</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Delivary Status</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                  <tr>
                    <th scope="row">{{order.order_id}}</th>
                    <td>{{order.customer_id}}</td>
                    <td>{{order.customer_id.name}}</td>
                    <td>{{order.customer_id.email}}</td>
                    <td>{{order.product_id}}</td>
                    <td>{{order.product_id.product_price}}</td>
                    <td>{{order.quantity}}</td>
                    <td>{{order.delivary}}</td>
                    <td>
                      <div class="btn-group" role="group" aria-label="Action">
                        <button type="button" class="btn btn-success">Show</button>
                        <button type="button" class="btn btn-primary">Edit</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>
{%endblock%}


