{% extends "main.html" %}
{% block content%}
    <!-- Form start-->
    <div class="container">
      <div class="row">

            <div class="container">
              <div class="row mt-4 text-center">
                <h2>Order Application</h2>
              </div>
            </div>
            <form class="mt-2" action="#", method="post">
              {% csrf_token %}
              {% for form in forms %}
              <div class="mb-3">
                <label for="exampleInputName" class="form-label">{{form.name}}</label>
                <div class="mt-2 form-control">
                  {{form}}
                </div>

              </div>
              
             
              {% endfor %}
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
      </div>
    </div>
 <!-- Form end-->

 {%endblock%}