{% extends "main.html" %} {% block content%}
<!-- Form start-->
<div class="container">
    <div class="row">

        <div class="container">
            <div class="row mt-4 text-center">
                <h2>Order Application</h2>
            </div>
        </div>
        <form class="mt-2" action="#" , method="post">
            {% csrf_token %}


            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">{{ form.order_id.label }}</label>
                <div class="form-control">{{ form.order_id }}</div>
                <label for="exampleInputEmail1" class="form-label">{{ form.customer_id.label }}</label>
                <div class="form-control">{{ form.customer_id }}</div>
                <label for="exampleInputEmail1" class="form-label">{{ form.product_id.label }}</label>
                <div class="form-control">{{ form.product_id }}</div>
                <label for="exampleInputEmail1" class="form-label">{{ form.quantity.label }}</label>
                <div class="form-control">{{ form.quantity }}</div>
                <label for="exampleInputEmail1" class="form-label">{{ form.delivary.label }}</label>
                <div class="form-control">{{ form.delivary }}</div>

            </div>



            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<!-- Form end-->

{%endblock%}